<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com-phonegap-bossbolo-plugin-socket"
        version="1.0.1">
    <name>BoloSocekt</name>
    <description>
		socket通讯框架
	</description>
    <license>Apache 2.0</license>
    <keywords>socket,sockets,network,tcp,cordova,bossbolo</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- 设置依赖插件,或者绑定其他插件  id:plugin id -->
     <!-- <dependency id="com-phonegap-bossbolo-plugin" /> -->

    <js-module src="www/socket.js" name="Socket">
        <clobbers target="window.Socket" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BoloSocekt">
                <param name="android-package" value="com.phonegap.bossbolo.plugin.socket.SocketPlugin"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>  
		<source-file src="src/android/Logging.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />
        <source-file src="src/android/Consumer.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />
		<source-file src="src/android/SocketAdapter.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />
		<source-file src="src/android/SocketAdapterImpl.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />
		<source-file src="src/android/SocketAdapterOptions.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />
		<source-file src="src/android/SocketPlugin.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />
		<source-file src="src/android/MessageCodec.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />
		<source-file src="src/android/MyZip.java" target-dir="src/com/phonegap/bossbolo/plugin/socket" />

    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BoloSocekt">
                <param name="ios-package" value="SocketPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/Encryption.h" />
        <source-file src="src/ios/Encryption.m" />

        <header-file src="src/ios/MessageBuffer.h" />
        <source-file src="src/ios/MessageBuffer.m" />

        <header-file src="src/ios/MessageCodec.h" />
        <source-file src="src/ios/MessageCodec.m" />

        <header-file src="src/ios/MyZip.h" />
        <source-file src="src/ios/MyZip.m" />

        <header-file src="src/ios/SocketPlugin.h" />
	    <source-file src="src/ios/SocketPlugin.m" />

        <header-file src="src/ios/SocketAdapter.h" />
        <source-file src="src/ios/SocketAdapter.m" />

	    <!--<framework src="CoreGraphics.framework" />-->
    </platform>

</plugin>
